@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    background-color: #000000;
    color: white;
    font-family: "Poppins", sans-serif;
}

.break {
    height: 5px;
}

.box {
    display: flex;
    gap: 5px;
}

.left {
    border-radius: 25px;
    width: 29%;
}

.homesection {
    border-radius: 25px;
    padding: 15px;
    width: 93%;
    background-color: #1f1f1f;
    gap: 15px;
    display: grid;
}

.homesection span {
    position: absolute;
    top: 25px;
    left: 60px;
    font-size: large;
    font-weight: 600;
}

.textbar input {
    height: 2px;
    padding: 15px;
    background-color: rgb(46, 46, 46);
    border: none;
    border-radius: 25px;
    width: 300px;
    color: white;
}

.library {
    border-radius: 25px;
    padding: 15px;
    width: 93%;
    background-color: #1f1f1f;
    display: grid;
    font-size: medium;
    font-weight: 700;
}

.lib img {
    display: flex;
}

/* .playlist {
    background-color: #272829;
    border-radius: 25px;
    padding: 0 10px;
    line-height: 9px;
    height: 140px;
}

.playlist button {
    padding: 8px;
    border-radius: 25px;
    border: none;
    font-size: 15px;
    font-weight: bold;
    width: 150px;
} */

.anchors {
    line-height: 20px;
    height: 260px;
}

.anchors ul {
    list-style-type: none;
}

.anchors a {
    color: rgba(205, 203, 200, 0.765);
    text-decoration: none;
    font-weight: 300;
    font-size: small;
}

.anchors a:hover {
    text-decoration: none;
    color: white;
}

.right {
    border-radius: 25px;
    padding: 15px;
    width: 70%;
    background-color: #1f1f1f;
    border: none;
    height: 95vh;
    overflow-y: scroll;
}

.log {
    padding: 10px;
    height: 40px;
    display: flex;
    justify-content: space-between;
    gap: 15px;
    background-color: #272829;
    border-radius: 15px;
}

.btn1 {
    border: none;
    height: 30px;
    width: 70px;
    font-size: 14px;
    font-weight: 600;
    border-radius: 25px;
    justify-content: center;
    align-items: center;
    transform: scale(1, 1);
    transition: transform 0.3s ease;
}

.btn1:hover {
    transform: scale(1.2, 1.2);
}

.btn2 {
    border: none;
    height: 30px;
    width: 70px;
    font-size: 14px;
    font-weight: 600;
    border-radius: 25px;
    justify-content: center;
    align-items: center;
    background-color: #1f1f1f;
    color: gray;
}

.btn2:hover {
    color: white;
}

.cardcontainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 20px;
}

.card {
    background-color: #000000;
    width: 177px;
    height: 290px;
    border: none;
    border-radius: 20px;
    padding: 10px;
    position: relative;
}

.card:hover {
    opacity: 40%;
}

.card img {
    height: 170px;
    width: 177px;
    border-radius: 15px;
}

.card span {
    position: absolute;
    top: 160px;
    left: 150px;
    background-color: #13ec13;
    border-radius: 50px;
    font-size: xx-large;
    transform: scale(1, 1);
    transition: opacity 0.3s ease;
    opacity: 0;
}

.card:hover .play-button {
    opacity: 1;
}

.play-button:hover {
    transform: scale(1.5, 1.5);
    background-color: rgb(134, 239, 134);
}

.playbar {
    position: sticky;
    position: absolute;
    bottom: 0;
    background-color: #000000;
    width: 97vw;
    height: 70px;
    justify-items: center;
    align-content: bottom;
    gap: 25px;
}

.playbar span {
    font-size: xxx-large;
}

#range {
    width: 100vh;
}



@media (max-width: 260px) {
    .right {
        width: 260px;
    }

    .left {
        display: flex;
        gap: 5px;
    }

    .box {
        display: grid;
    }

    .homesection input {
        display: none;
    }

    .homesection {
        display: flex;
        width: 100px;
        justify-content: center;
    }

    .homesection span {
        display: none;
    }

    .library {
        width: 50px;
    }

    .lib {
        display: none;
    }

    .anchors {
        display: none;
    }

    .playbar {
        position: absolute;
        position: sticky;
        top: 570px;
        width: 280px;
    }

    #range {
        width: 280px;
    }

    .card {
        width: 120px;
        height: 200px;
    }

    .card img {
        width: 120px;
        height: 100px;
    }

    .card span {
        top: 80px;
        left: 100px;
    }

    .card h3 {
        font-size: small;
    }

    .card p {
        font-size: small;
    }
}

@media (max-width: 369px) {
    .right {
        width: 300px;
    }

    .homesection input {
        display: none;
    }

    .homesection {
        width: 50px;
        justify-content: center;
    }

    .homesection span {
        display: none;
    }

    .library {
        width: 50px;
    }

    .lib {
        display: none;
    }

    .anchors {
        display: none;
    }

    .playbar {
        width: 100vw;
    }

    .card {
        width: 120px;
        height: 200px;
    }

    .card img {
        width: 120px;
        height: 100px;
    }

    .card span {
        top: 80px;
        left: 100px;
    }

    .card h3 {
        font-size: small;
    }

    .card p {
        font-size: small;
    }
}

@media (max-width: 481px) {
    .right {
        width: 300px;
    }

    .homesection input {
        display: none;
    }

    .homesection {
        width: 100px;
    }

    .library {
        width: 100px;
    }

    .playbar {
        width: 100vw;
    }

    .card {
        width: 150px;
    }

    .card img {
        width: 150px;
    }

    .card span {
        left: 130px;
    }
}

@media (max-width: 1025px) {
    .playbar {
        width: 100vw;
    }

    .library {
        width: 260px;
    }

    .homesection input {
        width: 200px;
    }

    .homesection {
        width: 260px;
    }

    .box {
        gap: 5px;
    }
}

@media (min-width: 1270px) {
    .playbar{
        width: 100vw;
    }
    .homesection{
        width: 100px;
    }
}

@media (max-width: 1340px) {
    .playbar {
        width: 100vw;
    }
    .homesection{
        width: 338px;
    }
    .library{
        width: 338px;
    }
}

@media (max-width: 1440px) {
    .playbar {
        width: 100vw;
    }
}